################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/complete/WideWorldImportersSSAS/WideWorldImportersMD/.vs/WideWorldImportersMD/v16/.suo
